<!--The content below is only a placeholder and can be replaced.-->

<div class="container-fluid main">
  <button class="btn btn-primary" (click)="newPage()">Go To A</button>
  <router-outlet></router-outlet>
</div>

